/*html {
        background: url(images/rockband.gif) no-repeat center center fixed;
        -webkit-background-size: cover;
        -webkit-transform: translate3d(0,0,0);
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        left: 0%;
        width: 100%;
        height: 99.99%;
        bottom:10%
      } */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
        min-height: 100vh;

     }

header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 30px 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 10000;
       }

header .logo {
                background-color: rgb(165,73,127);
                color: white;
                font-weight: 700;
                text-decoration: none;
                font-size: 2em;
                text-transform: uppercase;
                letter-spacing: 2px;
                text-align: center;
                border-radius: 20px;
                width: 152px;
             }

header ul {
            display: flex;
            justify-content: center;
            align-items: center;
          }

header ul li {
                list-style: none;
                margin-left: 20px;
             }

header ul li a {
                text-align: center;
                font-weight: bolder;
                text-decoration: none;
                padding: 6px 15px;
                color: White;
                border-radius: 20px;
               }

header ul li a:hover, .dropdown:hover .dropbtn  {
                                                    background: rgb(165,73,127);
                                                    color: White;
                                                    font-weight: bolder;
                                                }

header ul li.dropdown {
                        display: table-caption;
                      }

.dropdown-content {
                    display: none;
                    position: absolute;
                    /* background-color: #ffd600; */

                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
                  }

.dropdown-content a {
                        color: white;
                        padding: 12px 16px;
                        text-decoration: none;
                        display: block;
                        text-align: left;
                    }

.dropdown-content a:hover .dropbtn{
                                    background-color: rgb(165,73,127);
                                  }

.dropdown:hover .dropdown-content {

                                    display: table;
                                  }

section img#background {
                        left: 0%;
                        width: 100%;
                        height: 99.99%;
                        bottom:10%
                        object-fit: cover;
                        pointer-events: fill;
                        position: absolute;
                        background-repeat: no-repeat;
                        -webkit-transform: translate3d(0,0,0);
                        -webkit-background-size: cover;
                        -moz-background-size: cover;
                        -o-background-size: cover;
                        background-size: cover;
                       }

.Youtube
                 {
                    position: absolute;
                    font-weight: bolder;
                    background-color: rgb(200, 0, 0);
                    color: white;
                    border: none;
                    border-color: rgb(200, 0, 0);
                    height: 36px;
                    width: 105px;
                    border-radius: 5px;
                    cursor: pointer;
                    margin-right: 8px;
                    z-index: 1;
                    right: 89%;
                    top: 93%;
                  }

.Facebook
          {
            background-color: rgb(51, 51, 255);
            color: white;
            position: absolute;
            font-weight: bolder;
            font-size: 34px;
            border-radius: 3px;
            border: none;
            text-align: right;
            padding-top: 5px;
            padding-right: 12px;
            margin-right: 8px;
            height: 36px;
            width: 44px;
            cursor: pointer;
            z-index: 1;
            left: 1%;
            top: 93%;
          }
